<!-- <div class=".error"></div>  -->
<!-- change with javascript to show various messages as they arise -->

<h1><%= @dashboard.name %></h1>
	<% @dashboard.spots.each do |spot| %>
		<%= link_to spot.website do %>
			<div class="span3 spot linktomouseover">
				<h3><%=spot.name%></h3>
				</br>
				<h2 class="<%=spot.current_status%>"><%=spot.current_status%></h2>
				<br>
				<div class="appear-on-mouseover">
					<p>
						<%=spot.today_schedule%>
					</p>
				</div>
				<!-- <p><%#= link_to '✖', delete_dashboard_spot_path(@dashboard, spot), remote: true, class: 'remove', method: :delete %></p> -->
			</div>
		<% end %>
	<% end %>

	<a href="#" id="add_spot">
		<div class="plus_sign span3 spot linktomouseover">
			<h2>+</h2>
		</div>
    <div class="form_div span3 spot linktomouseover">
    <%= form_tag("/dashboards/#{@dashboard.id}/dashboard_spots", method: 'post') do %>
      <%= label_tag :keywords, "Search for more spots" %>
      <%= text_field_tag :keywords %>
    <% end %>
    </div>
	</a>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      		<%= form_tag do %>
      		<div id="list"></div>
        	<% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
