<!DOCTYPE html>
<html lang="en">
<head>
  <title>Openblocks</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_tag "Hyphenator.run();" %>
</head>
<body>
  <div class="container">
		<%= render 'layouts/header' %>
    <div class=".error"></div> 
    <!-- change with javascript to show various messages as they arise -->
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
